<%-include("partials/header.ejs") %>

<div class = "jumbotron " id="img">
    <div class="container">
        <div class="row">
            <div class="card gallery" style="width: 12rem;">
                <div class="">
                    <img src="<%=User.image%>" class="card-img-top rounded" alt="">
                </div>
            
        
      </div>
      
    
        <div class="col-md-6 gallery"><h1><%=User.username%></h1></div>
        </div>
        
</div>
</div>
<div class="container flash">
    <% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert"><%=error%></div>
    <%}if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert"><%=success%></div>
    <%}%>
  </div>

<div class="container">
    <div class="row" style="display:flex; flex-wrap:wrap">
        <%images.forEach(function(image){%>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top height" src="<%=image.image%>">
                <div class="card-body"> 
                    <h5 class="card-title"><%=image.title%></h5>
                    <p class="card-text"><%=image.description%></p>
                    <a href="/image/<%=User.id%>/current/<%=image.id%>" class="btn btn-outline-success btn-small">View More</a>
                   
                </div>
          </div>
          
        </div>
        <%})%>
    </div>
    <div class="mt-2" >
        <a class="back" href="/" >Go back</a>
    </div>
 </div>   
 

<%-include("partials/footer.ejs") %>