<%-include("partials/header.ejs") %>




    <section id="header" class="jumbotron text-center">
        <h1 class="display-3">ShareMe</h1> 
        <p class="lead">Looking for a place to share your photos?</p>    
        <a href="/image/new" class="btn btn-primary"  >Add a new photo!</a>
        <a class="btn btn-success" data-toggle="modal" data-target="#learn-more">Know more</a>
     </section> 
     <div class="container flash">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert"><%=error%></div>
        <%}if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert"><%=success%></div>
        <%}%>
      </div>
    
<div class="container">

<div class="row">
    <div class="card-deck">
        <% User.forEach(function(user){ %>
            <div class="col-lg-4 mb-4" id="">
                <div class="card">
                    <img src="<%=user.image%>" class="card-img-top rounded height" alt="">
                <div class="card-body">
                <h5 class="card-title"><%=user.username%></h5>
                
                <a href="/image/<%=user.id%>" class="btn btn-primary">View profile</a>
                </div>
                
             </div>
        
            </div>
                <%})%>
    </div>
   
    
    
</div>
</div>

<div id="learn-more" class="modal" tabindex="-1"  role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header  bg-secondary text-light">
          <h5 class="modal-title" style="font-weight: 200;">Know More</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>Dont know what to do during lockdown?</strong></b><br>
          Fret no more! as you can consume your time by sharing your old images or current images of you just sleeping and doing nothing with others by just clicking on a simple signup button!</p>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-success" data-dismiss="modal">I am excited :D</button>
        </div>
      </div>
    </div>
  </div>
  
<%-include("partials/footer.ejs") %>