<%- include("partials/header.ejs") %>
<div class="container">
	<div class="row">
		<div class="col-md-2">
			
		</div>
		<div class="col-md-8">
			<div class="thumbnail">
				<img class="img-fluid img-thumbnail thumb_img" src="<%= image.image %>">
				<div class="caption-full">
					
					<h3>
						<a href="/"><%=image.title%></a>
						
					</h3>
					<p>
						<%= image.description %>
					</p>
					<p>
						<em>Submitted By <%= image.author.username %> , <%=moment(image.createdAt).fromNow()%></em>
					</p>
					<% if(currentUser && image.author.id.equals(currentUser._id)){ %>
						<a href="/campgrounds/<%=user._id%>/edit" class="btn btn-warning">Edit</a>
						<form class="delete-form" action="/image/<%=currentUser._id%>/current/<%=image._id%>?_method=DELETE" method="post">
							<button class="btn btn-danger">Delete</button>
						</form>
				<%} %>
				</div>
			</div>	
			
					


				
		</div>
	</div>

</div>

<%- include("partials/footer.ejs") %>